anonymous_enable=NO
local_enable=NO
write_enable=YES
local_umask=022
xferlog_enable=YES
connect_from_port_20=YES
listen=YES
userlist_enable=YES
userlist_deny=NO
chroot_list_enable=YES
tcp_wrappers=YES
user_sub_token=$USER
local_root=/mnt/efs/orders_or_sth/$USER
